@import url('variables.css');
@import url('reset.css');
@import url('responsive.css');

body.lightTheme{
    background: var(--beige);
}

body.darkTheme{
    background: var(--black);
}

body button{
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    padding: 0.5rem;
}

body.darkTheme button{
    background: var(--lightblue) !important;
    color: var(--yellow) !important;
}

body.lightTheme button{
    background: var(--yellow) !important;
    color: var(--lightblue) !important;
}

.navbarThemeText, #LoginThemeText{
    font-family: starwars-regular;
}

.navbar{
    display: flex;
    justify-content: space-between;
    top: 0;
}
#root section{
    padding-top: 1rem;
    margin: 4rem 0;
}

.navbarThemeText, #LoginThemeText{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    cursor: pointer;
}

.errorMessage{
    color: red;
}

#LoginFormGroup{
    width: 50%;
    margin: 0 auto;
    background:black;
    margin-top: 2rem;
}

#LoginThemeText{
    color: var(--yellow);
    font-size: 6rem;
    margin: 0 auto;
    width: 50%;
    text-align: center;
}

#LoginForm{
    width: 50%;
    margin: 0 auto;
    background: var(--cardBgrcolor);
    display: flex;
    flex-direction: column;
    padding: 3rem;
}

#LoginForm input{
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#LoginForm button{
    padding: 0.5rem;
    margin-left: 15rem;
    background-color: var(--solidBtnBgrcolor);
    color: var(--yellow);
}

.navbar{
    background-color: var(--black);
    position: fixed;
    width: 100%;
}

.navbar ul{
    display: flex;
    list-style-type: none;
    color: var(--appBarFontcolor);
}

.navbar ul li{
    margin: 1rem;
}

.navbarThemeText{
    color: var(--yellow);
    width: 15%;
    font-size: 1.5rem;
    margin-left: 2rem;
}

.navbar a:link{
    color: var(--appBarFontcolor);
    text-decoration: none;
}
.navbar a:active{
    color: var(--appBarFontcolor);
    text-decoration: none;
}
.navbar a:visited{
    color: var(--appBarFontcolor);
    text-decoration: none;
}

#episodesList {
    display: flex;
    flex-wrap: wrap;
}

.episodeElement{
    width: 100%;
    overflow: auto;
    width: 28%;
    margin: 1.5rem;
    background-color: var(--cardBgrcolor);
    color: var(--cardFontColor)
}

.episodeTitle{
    width: 70%;
    margin: 0 auto;
    padding: 1rem;
}

.episodeDesc{
    padding: 1rem;
    color: var(--Fontcolor);
}

.episodeElement a{
    color: var(--primaryHeading);
    border-radius: 10px;
}

.episodeElement a:link{
    color: var(--primaryHeading);
    text-decoration: none;
}
.episodeElement a:active{
    color: var(--primaryHeading);
    text-decoration: none;
}
.episodeElement a:visited{
    color: var(--primaryHeading);
    text-decoration: none;
}

.episodeElement img{
    width: 100%;
    overflow: auto;
}

.episodeDetailsHeader{
    display: flex;
    margin: 4rem;
    background: var(--cardBgrcolor);
}

.imgContainer{
    width: 50%;
}

.imgContainer img{
    width: 75%;
}

.episodeDetailsTitle{
    width: 50%;
    text-align: center;
    padding-top: 3rem;
}

.episodeLabel{
    color: var(--appBarFontcolor);
    font-size: 2rem;
}

.episodeTitle{
    color: var(--yellow);
    font-size: 1.5rem;
}

.episodeDescription{
    margin: 3rem;
    background: var(--cardBgrcolor);
    padding: 1rem;
    color: var(--Fontcolor);
}

.episodeCharacters{
    display: flex;
    flex-wrap: wrap;
}

.charactersElement{
    display: flex;
    flex-direction: row-reverse;
    max-width: 15rem;
    margin: 4rem;
    background: var(--cardBgrcolor);
    border-radius: 15px;
}

.charactersElement a{
    width: 50%;
}

.charactersElement p{
    width: 50%;
    margin: auto;
    padding: 0 0.5rem;
}

.charactersElement img{
    width: 50%;
}

.loadMoreButton{
    position: absolute;
    left: 50%;
}

.charactersList{
    display: flex;
    flex-wrap: wrap;
    color: var(--primaryHeading);
}

.charactersList a{
    text-decoration: none;
}

.charactersList a:link{
    color: var(--primaryHeading);
    text-decoration: none;
}
.charactersList xa:active{
    color: var(--primaryHeading);
    text-decoration: none;
}
.charactersList a:visited{
    color: var(--primaryHeading);
    text-decoration: none;
}

.characterDetailsDivisor{
    display: flex;
}

.characterDetailsDivisor > div{
    width: 50%;
}

.starshipElement{
    display: flex;
    flex-direction: row-reverse;
    background-color: var(--cardBgrcolor);
    margin: 0.5rem;
    border-radius: 10px;
}

.starshipElement > a {
    text-align: center;
    color: var(--Fontcolor);
}

.starshipElement > img {
    width: 20%; 
}

.characterDetailsRight{
    width: 65% !important;
}

.characterDetailsRight > ul{
    width: 85%;
}

.characterDetailsRight > ul > div{
    display: flex;
    flex-direction: row-reverse;
}

.characterDetailsRight > ul > div > img{
    width: 15%;
}

.characterDetailsRight > ul > div > a{
    width: 85%;
    color: var(--primaryHeading);
}

.characterDetailsRight > ul > div > a:link{
    text-decoration: none;
}
.characterDetailsRight > ul > div > a:active{
    text-decoration: none;
}
.characterDetailsRight > ul > div > a:visited{
    text-decoration: none;
}

.starshipsTitle{
    text-align: center;
}

.characterDetailsName{
    text-align: center;
    color: var(--primaryHeading);
    font-size: 2rem;
}

.characterDetailsLeft{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    background-color: var(--cardBgrcolor);
    padding: 1rem;
    width: 35% !important;
    border-radius: 10px;
}

.characterDetailsLeft > img {
    max-height: 15rem;
    max-width: 15rem;
    margin: 2rem auto;
}

.characterDetailsLeft > div{
    color: var(--primaryHeading);
}

.starshipsTitle{
    color: var(--Fontcolor);
}

.starshipTitle{
    text-align: center;
    color: var(--primaryHeading);
    font-size: 2rem;
}

.starshipModel{
    color: var(--appBarFontcolor);
    text-align: center;
    font-size: 1.5rem;
}

.starshipDetailsLeft{
    display: flex;
    flex-direction: column;
    margin: 4rem;
    background-color:    var(--cardBgrcolor);
    padding: 1rem;
    width: 35% !important;
    border-radius: 10px;
}

.starshipDetailsLeft > img{
    max-width: 20rem;
    max-height: 20rem;
}

.starshipDetailsLeft p {
    color: var(--Fontcolor);
}

.StarshipDivider{
    display: flex;  
}

.starshipName{
    color: var(--primaryHeading) !important;
}

.starship-radar-chart{
    margin-top: 5rem;
}
.starship-radar-chart svg{
    background: var(--black);
    position: initial;
}

.caption{
    fill: var(--primaryHeading);
}
